<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <property name="LOG_DIR" value="myCustomLogs" /> <!-- Replace the LOG_FILE property with LOG_DIR -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/logfile.log</file> <!-- Use LOG_DIR to specify the target folder -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/logfile.%d{yyyy-MM-dd}.gz</fileNamePattern> <!-- Use LOG_DIR to specify the target folder -->

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="com.develhope.SpringAdvanced0301" level="trace" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="Console" />
    </logger>
</configuration>
